@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* contenedor general donde se marca el alto y ancho de pagina, el color de fondo y de las letras */
.Contenedor {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}

.Nav {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.Marca {
  margin-top: -7px;
}

.Marca span {
  color: aqua;
}

/* se marca que el menu va  a ocupar el 50 % de la pantalla , se indica que  el tecto tiene que se  spac ar para que separe los diferentes item*/
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu  li {
  list-style: none;

}
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px; 
}

.menu li:hover a{
  background-color: rgb(4, 145, 145);
  color: #fff;
}

.menu .active {
  color: aqua;
 
}


.menu li a:hover {
  color: #66E7C8;
}


.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 3em;
}

.info-conten span {
  color: aqua;
}

.Descarga-cv {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
}

.Descarga-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.main img {
  border:  7px solid aqua;
  width:650px;
  height: 600px;
  z-index: 1;
}

.Informacion {
  font-size: 1.5em;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  background-color:powderblue;
  color:black;
}

.Informacion img {
  border:  7px solid rgb(159, 165, 165);
  width: 500px;
  height: 600px;
  grid-column: 1/5;
}

.Sobre-info {
  grid-column: 5/10;
  padding: 5em;
}

.Sobre-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divi {
  height: 1px;
  width: 140px;
  background-color: rgb(5, 5, 5);
  margin-top: 5px;
  margin-bottom: 2em;
}

.Informacion p {
  margin-bottom: 1em;
}

.portfolio,
.Seccion_Contacto {
  width: 100vw;
  background-color: #191c32;
  color: #fff;
}

.portfolio-Cont {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.portfolio-Cont h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-size: cover;
}

.card__titulo {
  padding: 20px;
}

.cardlinks {
  display: flex;
  justify-content: space-evenly;
}
.cardlinks a {
  color: #fff;
  text-decoration: none;
}

.cardlinks i {
  font-size: 1.5em;
}

.Btn_Contenido {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.btn_detalle a {
  text-decoration: none;
  color: #191c32;
}


.Seccion_Contacto {
  padding: 3em;
}

.Contacto {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.Seccion_Contactoimg {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.Formulario {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.Formulario textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.Formulario .Aporte {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.Formulario .btn_enviar {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: aqua;
}

.footer_contenido h2 {
  font-size: 3em;
}

.footer_contenido h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}

.portfolio,
.Seccion_Contacto {
  width: 100vw;
  background-color: #191c32;
  color: #fff;
}

.portfolio-Cont {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}


.portfolio-Cont h2,
.portfolio-Cont h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
}

.card__titulo {
  justify-content: center;
  padding: 20px;
}

.cardlinks {
  display: flex;
 
}
.cardlinks a {
  color: #fff;
  text-decoration: none;
}

.cardlinks i {
  font-size: 1.5em;
}

.Btn_Contenido {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.btn_detalle a {
  text-decoration: none;
  color: #191c32;
}




.Seccion_Contacto {
  padding: 3em;
  background-color: #03061b;
}

.Contacto {
  margin: 0 auto;
  margin-top: 10em;
}



.Seccion_Contacto img {
  width: 500px;
  height: 500px;
  bottom: 0px;
}


.Formulario {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.Formulario textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.Formulario .Aporte {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.Formulario .btn_enviar {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color:  rgb(7, 156, 156);;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: rgb(7, 156, 156);
}

.footer_contenido h2 {
  font-size: 3em;
}

.footer_contenido h5 {
  font-size: 1.5em;
  text-align: center;
}

.Redes {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.Redes i {
  
  font-size: 1.5em;
}

.Icono i {
  display: flex;
  font-size:3em;
  justify-content: center;
  align-items:flex-start;
}


